<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>create-room</title>
    <link rel="stylesheet" href="../../stylesheet/login.css" />
  </head>
  <body>
    <section class="login-main-container">
      <section class="login-wrapper">
        <h1>create room</h1>
        <form id="login-form" action="/home">
          <input type="text" name="username" placeholder="username" required />
          <input type="text" name="room_id" placeholder="Room id" required />
          <button type="submit">Submit</button>
        </form>
      </section>
    </section>
  </body>
</html>
